<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
 </head>

  <body class="bg-gray-50">
    <div id="root" class="max-w-screen-md mx-auto min-h-screen px-5">
      <%= yield %>
    </div>
  </body>
</html>
